body {
  background-color: #252525;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 70rem;
  margin: 5rem auto;
}

.list {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card {
  width: 180px;
  height: 250px;
  perspective: 500px;
  cursor: pointer;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: -8px 8px 16px -6px rgba(0, 0, 0, 0.95);
  border-radius: 5px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back,
.imgCard {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  color: white;
  text-align: center;
  transform: rotateY(180deg);
}

.back > * {
  padding: 0px 5px;
}

.section {
  margin: auto 2rem;
  padding: 40px 0;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.35);
  background-color: white;
}

.section > p {
  line-height: 23px;
  font-size: 17px;
  margin: 15px 40px;
  color: black;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading > h1 {
  text-align: center;
  color: #252525;
}

.imgPortrait {
  width: 180px;
  height: 250px;
  border-radius: 15px;
  border-style: solid;
}

.pillSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.pill {
  padding: 10px;
  margin: auto 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.searchBar {
  align-self: center;
}

.searchBar > input {
  width: 40em;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  color: rgb(15, 15, 15);
  border: none;
}
.searchBar > input:focus {
  border: none;
}

.searchBar > input::placeholder {
  color: rgba(59, 59, 59, 0.65);
}
